<!--<div class="container">-->
<!--  <div class="row mt-5 mb-5 offset-4">-->
<!--    <div class="col1 ml-5 mr-5">-->
<!--      <span></span>-->
<!--    </div>-->
<!--      <h3>Edit my page</h3>-->
<!--  </div>-->


  <div class="container">
    <div class="row">
     <h3 class="col-lg-4 mt-4">Edit my page</class>
    </div>
  </div>

   <%= form_with model: @customer do |f| %>

<div class="container justify-content-center">
 <div class="row">
    <table class="table">
        <div class="field">
          <tr>
            <th><%= f.label :"User name" %></th>
            <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザーネーム"%></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <th><%= f.label :"Email" %></th>
            <td><%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%></td>
          </tr>
        </div>
        <div class="actions">
         <tr>
          <td><%= f.submit "変更を保存", class: "btn btn-success btn-sm mt-2" %></td>
          <td><%= link_to "退会する", unsubscribe_customer_path(@customer), class: 'btn btn-danger btn-sm mt-2 ml-5' %></td>
         </tr>
        </div>
    </table>
   <% end %>
</div>