<div class="container">
  <div class="row">
    <div class="col3-md">
      <h3 class:"p-2">マイページ編集</h3>
    </div>
  </div>

   <%= form_with model: @customer do |f| %>

    <table class="table　table-borderless table-sm mt-5 mb-5">
        <div class="field">
          <tr>
            <th><%= f.label :"User name" %></th>
            <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ユーザーネーム"%></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <th><%= f.label :"Email" %></th>
            <td><%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%></td>
          </tr>
        </div>
        <div class="actions">
         <tr>
          <td><%= f.submit "変更を保存", class: "btn btn-success btn-sm mt-2" %></td>
          <td><%= link_to "退会する", customer_path(@customer), method: :delete, data: {comfirm: "Are you sure?"}, class: 'btn btn-danger btn-sm mt-2 ml-5' %></td>
         </tr>
        </div>
    </table>
   <% end %>
</div>