
<h3>マイページ</h3>

<p>ユーザーネーム</p>
<p><%= @customer.name %></p>
<p>メールアドレス</p>
<%= @customer.email %>
<p>パスワード</p>
<%= @customer.password %>

<%= link_to "編集", edit_customer_path %>
<%= link_to "退会する" %>