<div class="container">
  <div class="row mt-5 mb-5 offset-4">
    <div class="col1 ml-5 mr-5">
      <span></span>
    </div>
    <div class="col1">
      <h3>My page</h3>
    </div>
  </div>
 <div class="row">
    <table class="table">
      <tr>
        <th>user name</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th>e-mail</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
 </div>
<div class="row">
  <div class="col1 mt-1">
   <%= link_to "編集", edit_customer_path, class: 'btn btn-outline-dark' %>
   <%= link_to "下書き一覧へ", draft_index_reviews_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<div class="card-list-container py-5">
  <% @reviews.each do |review| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to review_path(review.id) do %>
      <%= image_tag review.get_image, class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
             <i class="fas fa-user"></i> <span><%= review.customer.name %></span> <%= review.height %>cm <%= review.weight %>kg
          </p>
            <p class="card-text"><i class="fas fa-tags"></i> <%= review.category.name %></p>
          <p></p>
          <p class="card-text"><i class="fas fa-tshirt"></i> <%= review.item_name %></p>
          <p class="card-text"><i class="fas fa-pen"></i> <%= review.review %></p>

          <i class="far fa-comment"></i> <%= link_to "#{review.comments.count} ", review_path(review.id), class:"text-dark" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>