<!--<-%= stylesheet_link_tag "application", :media => "all" %>-->

<div id="example-2" class="carousel slide" data-ride="carousel" style="width:100%">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "mv1.jpg", class: "top-img-fluid"  %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mv2.jpg", class: "top-img-fluid" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mv3.jpg", class: "top-img-fluid" %>
        </div>
        <a class="carousel-control-prev" href="#example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
  <div class="row">
     <h3 class="col-lg-4 mt-4">NEW REVIEW</class>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @review.each do |review| %>
      <div class="col-lg-4 mt-4">
        <div class="card">
            <%= link_to review_path(review.id) do %>
             <%= image_tag review.get_image, class: "img-fluid" %>
            <% end %>
          <div class="card-body">
            <p class="card-title">
              <i class="fas fa-user"></i><span> <%= review.customer.name %> </span><%= review.height %>cm <%= review.weight %>kg
            </p>
            <p class="card-text"><i class="fas fa-tags"></i> <%= review.category.name if review.category.present? %></p>
            <p class="card-text"><i class="fas fa-tshirt"></i> <%= review.item_name %></p>
            <p class="card-text"><i class="fas fa-pen"></i> <%= review.review.truncate(10) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
 </div>

 <div class="container">
   <div class="row justify-content-end">
       <h3 class="col-lg-2 mt-4">
         <%= link_to "REVIEW ALL︎", reviews_path, class: "link" %>
       </class>
    </div>
 </div>
