<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-1'>
      <h3 class="my-4", style="width:120px; padding-left: 12px"><b>Reviews</b></h3>

        <table class="table">
          <thead>
            <tr>
              <th>CustomerID</th>
              <th style="text-decoration: underline;">User Name</th>
              <th>Item name</th>
              <th>Review</th>
            </tr>
          </thead>

          <% @reviews.each do |review| %>
          <tbody>
            <tr>
              <td><%= review.customer_id %></td>
              <td>
                <%= link_to admin_customer_path(review.customer), style: "color: #000; text-decoration: underline;" do %>
                <%= review.customer.name %>
                <% end %>
              </td>
              <td><%= review.item_name %></td>
              <td><%= link_to "詳細へ", admin_review_path(review) %></td>
            </tr>
          </tbody>
          <% end %>
            <tr>
              <td colspan="4"></td>
            </tr>
        </table>
        <ul class="pagination justify-content-center">
          <%= paginate @reviews %>
        </ul>
    </div>
  </div>
</div>