<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @review.image, class:"card-img-top" %>
      <div class="card-body">
        <div class="row">
          <div class="col-10">
              <p class="card-title">
               <p><i class="fas fa-user"></i> <%= @review.customer.name %> <%= @review.height %>cm <%= @review.weight %>kg</p>
               <p class="card-text"><i class="fas fa-tags"></i> <%= @review.category.name if @review.category.present? %></p>
               <p><i class="fas fa-tshirt"></i> <%= @review.item_name %></p>
               <p><i class="fas fa-pen"></i> <%= @review.review %></p>
               <p><i class="fas fa-calendar-week"></i> <%= @review.created_at.strftime('%Y/%m/%d') %></p>
              </p>
            <div>
               <p><i class="far fa-comment"></i> <%= @review.comments.count %></p>
                 <p><% @review.comments.each do |comment| %>
                    <p><%= comment.customer.name %>
                         <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
                          <%= link_to "削除", admin_review_comment_path(comment.review, comment), method: :delete, data: {confirm: "削除しますか？"} %>
                        <% end %>
                    </p>
            </div>
              <%= link_to '戻る', admin_reviews_path, class: "btn btn-success px-3" %>
              <%= link_to "削除", admin_review_path(@review), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger px-3" %>
  <!--<-% if @post_image.favorited_by?(current_user) %>-->
  <!--  <p>-->
  <!--    <-%= link_to post_image_favorites_path(@post_image), method: :delete do %>-->
  <!--     ♥<-%= @post_image.favorites.count %> いいね-->
  <!--    <-% end %>-->
  <!--  </p>-->
  <!--  <-% else %>-->
  <!--  <p>-->
  <!--    <-%= link_to post_image_favorites_path(@post_image), method: :post do %>-->
  <!--     ♡<-%= @post_image.favorites.count %> いいね-->
  <!--    <-% end %>-->
  <!--  </p>-->
  <!--<-% end %>-->
</div>
