<h3>Favorites</h3>

<div class="card-list-container py-5">
  <% if @favorites.present? %>
  <% @reviews.each do |review| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to review_path(review.id) do %>
      <%= image_tag review.get_image, class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
             <i class="fas fa-user"></i> <span><%= review.customer.name %></span> <%= review.height %>cm <%= review.weight %>kg
          </p>
            <p class="card-text"><i class="fas fa-tags"></i> <%= review.category.name %></p>
          <p class="card-text"><i class="fas fa-tshirt"></i> <%= review.item_name %></p>
          <p class="card-text"><i class="fas fa-pen"></i> <%= review.review.truncate(20) %></p>
          <i class="far fa-comment"></i> <%= link_to "#{review.comments.count} ", review_path(review.id), class:"text-dark" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="d-flex justify-content-center">
  <%= paginate @reviews %>
</div>