<h3>Draft Review index</h3>

<div class="card-list-container py-5">
  <% @review.each do |review| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to review_path(review.id) do %>
      <%= image_tag review.get_image, class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
            <%= link_to(review_path(review.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span><%= review.customer.name %> </span><%= review.height %>cm <%= review.weight %>kg</strong>
            <% end %>
          </p>
          <p class="card-text"><i class="fas fa-tags"></i> <%= review.category.name if review.category.present? %></p>
          <p class="card-text"><i class="fas fa-tshirt"></i> <%= review.item_name %></p>
          <p class="card-text"><i class="fas fa-pen"></i> <%= review.review %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="d-flex justify-content-center">
  <%= paginate @review %>
</div>