<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">レビュー編集</h5>
        <div class="form-body p-4">
          <%= form_with model: @review do |f| %>
            <%= render 'form', f: f %>
          <% if @review.is_draft == true %>
            <%= f.submit "レビューを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
            <%= f.submit "下書きを更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
          <% else %>
            <%= f.submit "レビューを更新", :name => 'update_review', class:'btn btn-sm btn-warning text-light' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>