<h3>Review</h3>

<div class="container">
  <div class="row">
    <% @review.each do |review| %>
      <div class="col-lg-4 mt-4">
        <div class="card">
           <%= link_to review_path(review.id) do %>
            <%= image_tag review.get_image, class:"card-img-top" %>
           <% end %>
          <div class="card-body">
            <p class="card-title">
              <i class="fas fa-user"></i><span> <%= review.customer.name %> </span><%= review.height %>cm <%= review.weight %>kg
            </p>
            <!--<p class="card-text"><i class="fas fa-tags"></i> <-%= review.category.name %></p>-->
            <p class="card-text"><i class="fas fa-tshirt"></i> <%= review.item_name %></p>
            <p class="card-text"><i class="fas fa-pen"></i> <%= review.review %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @review %>
</div>
