<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">Post a review</h5>
      <div class="form-body p-4">

        <!--バリデーションによるフラッシュメッセージ-->
        <% if @review.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @review.errors.count %>件のエラーが発生しました
            </h6>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>


        <%= form_with model: @review do |f| %>
            <%= f.file_field :image, accept: "image/*", class: "w-100" %>
            <%= f.text_field :height, class:"form-control", placeholder:"身長(cm)" %>
            <%= f.text_field :weight, class:"form-control", placeholder:"体重(kg)" %>
            <%= f.text_field :item_name, class:"form-control", placeholder:"商品名" %>
            <!--カテゴリー選択class:"form-control"で揃えたい-->
            <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: "-- カテゴリーを選択して下さい --" %>
            <%= f.text_area :review, class:"form-control", rows:"3", placeholder:"レビュー" %>
          <div class="d-flex justify-content-center">
            <%= f.submit '投稿', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %>
            <%= f.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>