<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @review.get_image, class:"card-img-top" %>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
            <p class="card-title">
              <p><i class="fas fa-user"></i> <%= @review.customer.name %> <%= @review.height %>cm <%= @review.weight %>kg</p>
               <p class="card-text"><i class="fas fa-tags"></i> <%= @review.category.name if @review.category.present? %></p>
              <p><i class="fas fa-tshirt"></i> <%= @review.item_name %></p>
              <p><i class="fas fa-pen"></i> <%= @review.review %></p>
              <p><i class="fas fa-calendar-week"></i> <%= @review.created_at.strftime('%Y/%m/%d') %></p>
            </p>

            <!--お気に入り機能-->
            <% if customer_signed_in? %>
              <% if @review.favorited_by?(current_customer) %>
                <p>
                  <%= link_to review_favorites_path(@review), method: :delete do %>
                   ★<%= @review.favorites.count %>
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to review_favorites_path(@review), method: :post do %>
                   ☆<%= @review.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            <% else %>
              ★<%= @review.favorites.count %>
            <% end %>

          <div>
            <p><i class="far fa-comment"></i> <%= @review.comments.count %></p>
              <p><% @review.comments.each do |comment| %>
                  <p><%= comment.customer.name %>
                      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
                      <% if comment.customer == current_customer %>
                        <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete, data: {confirm: "削除しますか？"} %>
                      <% end %></p>
                  <% end %>
              </p>
          </div>

          <!--バリデーションによるフラッシュメッセージ-->
        <% if @comment.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @comment.errors.count %>件のエラーが発生しました
            </h6>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

          <div class="field comment_box">
             <%= form_with model: [@review, @comment] do |f| %>
                <% if current_customer %>
                   <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control"%>
                   <%= f.submit "送信する", class: "btn btn-sm btn-warning text-white" %>
                <% end %>
             <% end %>
          </div>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col1 mt-1">
                 <% if @review.customer == current_customer %>
                      <%= link_to "レビュー削除", review_path(@review), method: :delete, class: "btn btn-outline-primary", data: {confirm: "削除しますか？"} %>
                      <%= link_to "編集", edit_review_path(@review), class: "btn btn-outline-primary" %>
                 <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


