<div class="item-index-box">

    <!-- ジャンル選択のサイドバー -->
    <%= render "customer/categories_sidebar", categories: @categories %>
    <!-- ジャンル選択のサイドバー -->
 <h3><% @category.name %>一覧</h3>
    
    <div class="card-list-container py-5">
      <% @category.reviews.each do |review| %>
        <div class="card w-50 mx-auto mt-4 shadow-lg">
          <%= link_to review_path(review.id) do %>
            <%= image_tag review.get_image, class:"card-img-top" %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <p class="card-title">
                  <%= link_to(review_path(review.id), class:"text-dark") do %>
                    <strong><i class="far fa-flag"></i><span><%= review.customer.name %></span></strong>
                  <% end %>
                </p>
                <span class="card-text">身長：<%= review.height %>cm</span>
                <span class="card-text">体重：<%= review.weight %>kg</span>
                <!--<p class="card-text">カテゴリー:<-%= review.category_id.name %></p>-->
                <p class="card-text">商品名：<%= review.item_name %></p>
                <p class="card-text">レビュー：<%= review.review %></p>
                <span><i class="fas fa-user"></i> By <%= review.customer.name %> ｜
                <span><%= link_to "#{review.comments.count} コメント", review_path(review.id), class:"text-dark" %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>