<div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1 mb-5 mt-5">
                <h3>Categories</h3>
                    <p><%= form_with model: @category, url: admin_categories_path do |f| %></p>
                        <div class="form-group">
                            <%=f.text_field :name, placeholder: "カテゴリー名", class:'form-control' %>
                        </div>
                        <div class="form-group">
                        <%=f.submit "新規登録", class: "btn btn-primary offset-md-2 " %>
                        </div>
                    <% end %>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-10">
                <table class="table table-light">
                    <thead class="table-active text-center">
                        <tr>
                            <th class>CATEGORIES</th>
                            <th class></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @categories.each do |category| %>
                            <tr>
                                <td class="text-center"><%= category.name %></td>
                                <td class="text-right"><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-secondary" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>