<!DOCTYPE html>
<html>
  <head>
    <title>Pfimpression</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿フォーム', new_review_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'レビュー一覧', reviews_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', customer_path(current_customer.id), class: 'nav-link text-dark' %>
            </li>

            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "レビュー一覧", admin_reviews_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "カテゴリ一覧", admin_categories_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>

            <% else %>

             <li class="nav-item">
          　　<%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        　 　 </li>
             <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
             </li>
             <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
             </li>
             <li class="nav-item">
              <%= link_to '管理者の方はこちら', new_admin_session_path, class: 'nav-link text-dark' %>
             </li>
            <% end %>

             <li>
                <!--#`form_for`のRansack版-->
                <%= search_form_for @search do |f| %>
                <!--# nameカラムに対して部分一致検索ができる-->
                  <%= f.label :item_name_cont, "商品名検索" %>
                  <%= f.search_field :item_name_cont, value: "" %>
                  <!--# 検索ボタン-->
                  <%= f.submit "検索" %>
                <% end %>
             </li>
            </ul>

          </div>
        </div>
      </nav>
      <%= flash[:notice] %>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>洋服の感想や印象を共有するレビューサイト</p>
            <!--<-%= image_tag('logo-white.png') %>-->
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>